<span class="text-sm leading-none">{{- 'templates.cart.cart' | t }}&#160;</span>
<span class="hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div>
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true" class="text-sm leading-none"> ({{ cart.item_count }})</span>
    {%- endif -%}
    <span class="hidden">
      {{- 'sections.header.cart_count' | t: count: cart.item_count -}}
    </span>
  </div>
{%- endif -%}
