<section class="w-full h-[70vh] bg-gray-100">
  <a href="/" class="w-full h-full flex justify-center items-center flex-col font-heading text-lg">
    <h1 class="text-6xl">404</h1>
    <span class="">The page you're looking for can't be found.</span>
    <span>Click anywhere to continue.</span>
  </a>
</section>

{% schema %}
{
  "name": "Main 404"
}
{% endschema %}
